.uno {
    background-color: #DCDCDC;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
}

.dos {
    background-color: #fed966;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 40px;
}

.tres {
    background-color: #DCDCDC;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cuatro {
    background-color: #fed966;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
}

.cinco {
    background-color: #fed966;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
}

.contenedor {
    float: left;
    margin: 3px;
    padding: 3px;

}

.img {
    padding: 0;
}